/* SPDX-License-Identifier: Apache-2.0 OR MIT */
/* SPDX-FileCopyrightText: Copyright 2025 Sam Blenny */

/dts-v1/;

/* These includes refer to files from zephyr/dts/arm/raspberrypi/rpi_pico/
 * and those files pull in a whole tree of their own includes. Most of the
 # interesting stuff is in zephyr/dts/arm/raspberrypi/rpi_pico/rp2350.dtsi
 */
#include <raspberrypi/rpi_pico/rp2350a.dtsi>
#include <raspberrypi/rpi_pico/m33.dtsi>
#include <zephyr/dt-bindings/pinctrl/rpi-pico-rp2350a-pinctrl.h>

/ {
	chosen {
		zephyr,console = &uart0;
		zephyr,flash = &flash0;
		zephyr,shell-uart = &uart0;
	};
};

&uart0 {
	current-speed = <115200>;
	status = "okay";
};

&flash0 {
	reg = <0x10000000 DT_SIZE_M(4)>;
	status = "disabled";
};
